  @keyframes load2 {
    0% {
      -webkit-transform: rotate(-225deg);
      transform: rotate(-225deg);
    }
    100% {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }
  