input[type=text]{
    width: 294px;
    left: 50px;
    top: 201px;
    background: #FFFFFF;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    padding: 12px;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    color: #343A40;
}

input[type=text]::placeholder{
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    color: #DFE2E4;
}

input[type=text]:focus {
    color: #343A40;
    background-color: #FFFFFF;
    border-color: #6C757D;
    outline: 0;
  }

  input[type=text]:disabled{
    background-color: rgba(248, 249, 250, 0.3);
    color: #6C757D;
    border-color: #DFE2E4;
    outline: 0;
  }