@import '../../variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 450;
  line-height: 18px;
  height: 34px;
  background-color: $opacity-font-color;
  color: #343A40;
  font-family: 'Circular Std';
  cursor: pointer;
  transition: 250ms;

  .loading_text {
    margin-right: 4.47px;
  }
}

.loader {
  display: inline-block;
  border: 3px solid #343A40;
  border-radius: 50%;
  border-top: 3px solid transparent;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  margin-right: 4.47px;
}

.button:hover {
  background-color: rgba(223, 226, 228, 0.5);
  color: rgba(52, 58, 64, 0.5);
  transition: 250ms;

  .loader {
    border: 3px solid rgba(52, 58, 64, 0.5);
    border-top: 3px solid transparent;
  }
}

.button:disabled {
  background-color: rgba(223, 226, 228, 0.3);
  color: rgba(52, 58, 64, 0.3);

  .loader {
    border: 3px solid rgba(52, 58, 64, 0.3);
    border-top: 3px solid transparent;
  }
}

.button:active {
  -webkit-box-shadow: 0px 0px 0px 2px $opacity-font-color;
  -moz-box-shadow: 0px 0px 0px 2px $opacity-font-color;
  box-shadow: 0px 0px 0px 2px $opacity-font-color;
  transition: none;
}

.search {
  height: 41px;
}

.time{
  background-color: rgba(223, 226, 228, 0.3);
  border: 1px solid rgba(52, 58, 64, 0.1);
  border-radius: 15px;
  height: 30px;
  color: rgba(52, 58, 64, 0.5);
}

.time_using{
  background-color: rgba(223, 226, 228, 0.3);
  border: 1px solid $blue-color;
  border-radius: 15px;
  height: 30px;
  color: $blue-color;
}

.time:active,
.time_using:active {
  background-color: rgba(223, 226, 228, 0.5);
  border: 1px solid $blue-color;
  -webkit-box-shadow: 0px 0px 0px 1px $blue-color;
  -moz-box-shadow: 0px 0px 0px 1px $blue-color;
  box-shadow: 0px 0px 0px 1px $blue-color;
  color: $blue-color;
  transition: none;
}

.time_using:hover{
  color: $blue-color;
}