$bg-color: #f9f9f9;
$white-color: #fff;
$font-size-regular: 16px;

.Exit_icon{
    width: 10px;
    height: 10px;
    border: 3px solid rgba(33, 37, 41, 1);
    border-top: transparent;
    border-right: transparent;
    transform: rotate(45deg);
    cursor: pointer;
    margin-right: 16px;
}

.Page_loading{
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 18px;

    .Body_text{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6C757D;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }
}

.Coin_page{
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 18px;

    .Coin_Header{
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        align-items: center;

        .Coin_image{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 8px;
        }

        .Coin_name{
            display: flex;
            flex-direction: row;
            align-items: baseline;

            .Coin_Title{
                font-weight: 450;
                font-size: 16px;
                line-height: 20px;
                color: #212529;
                margin-right: 4px;
            }
    
            .Coin_abriviation{
                font-weight: 450;
                font-size: 10px;
                line-height: 13px;
                color: #6C757D;
                margin-right: 12px;
            }
        }
    }

    .Coin_body{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        .Price_title{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-bottom: 16px;

            .Price{
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: #212529; 
                margin-right: 12px;
            }

            .Price_difference{
                font-weight: 450;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
            }

            .Price_difference.plus{
                color: #21BF73;
            }

            .Price_difference.minus{
                color: #bf2121;
            }
        }

        .Coin_info{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 11px;
            padding-top: 11px;
            border-bottom: 1px solid rgba(223, 226, 228, 1);
        
            .info_name{
                font-weight: 450;
                font-size: 14px;
                line-height: 18px;
                color: #6C757D;
            }

            .info_price{
                font-weight: 450;
                font-size: 14px;
                line-height: 18px;
                color: #212529;
            }
        }

        .Coin_description{
            display: flex;
            flex-direction: column;

            .description_title{
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #6C757D;
                margin-top: 21px;
            }

            .description_info{
                font-weight: 450;
                font-size: 14px;
                line-height: 18px;
                color: #212529;
                margin-top: 8px;
            }
        }

        .Coin_diagram{
            display: flex;
            flex-direction: column;

            .diagram_title{
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #6C757D;
                margin-top: 21px;
            }
        }
    }   
}