@import '../../variables.scss';

input[type=checkbox] {
  position: relative;
  display: flex; 
  align-items: center; 
  cursor: pointer;
  font-family: 'Circular Std';
  /* font-size: 12px;
  line-height: 15px; */
  color: #343A40;
  margin-left: 0;
  margin-top: 7px;
}

input[type=checkbox]::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $default-font-color;
  border-radius: 4px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: $white-color;
}

/* .checkbox:focus::before {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.3);
} */

/* .checkbox:hover::before {
  border-color: #0d6efd;
} */

input[type=checkbox]::before {
  background-color: $white-color;
}

input[type=checkbox]:checked:disabled::before {
  border-color: $opacity-font-color;
  cursor: not-allowed;
}

input[type=checkbox]:checked:disabled::after {
  border-color: rgba(108, 117, 125, 0.8);
  cursor: not-allowed;
}

input[type=checkbox]:disabled::before {
  border-color: $opacity-font-color;
  cursor: not-allowed;
}

input[type=checkbox]:checked::before {
  border-color: #6C757D;
  background-color: $white-color;
}

input[type=checkbox]:checked::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 9.5px;
  top: -4px; 
  width: 7px;
  height: 14px;
  border: solid $default-font-color;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type=checkbox]:active:before {
  -webkit-box-shadow: 0px 0px 0px 2px $opacity-font-color;
  -moz-box-shadow: 0px 0px 0px 2px $opacity-font-color;
  box-shadow: 0px 0px 0px 2px $opacity-font-color;
  transition: none;
}